<?php
/**
 * @var \GetNoticed\SeoSuite\Block\Catalog\Category\View $block
 */
?>
<?php if ($block->isShowSeoBlock()): ?>
    <div class="seo-content">
        <h1><?php echo $block->getSeoTitle() ?></h1>
        <div class="seo-content-description"><?php echo $block->getSeoDescription() ?></div>
    </div>
<?php endif;